.hero {
  background-image: linear-gradient(0deg, rgba(152, 195, 232, 0.2) 8.84%, rgba(152, 195, 232, 0) 31.12%);
  //background-position: top 11px right 23px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0 16%;
  position: relative;
  min-height: 690px;
}

.hero:after {
  content: "";
  background: url("../images/illustration.svg") no-repeat;
  position: absolute;
  top: 11px;
  right: -95px;
  height: 682px;
  width: 806px;
  z-index: -1;
}

.hero__header {
  color: $blue_1;
  font-family: Galien, serif;
  font-size: 64px;
  line-height: 74px;
  letter-spacing: 0.04em;
  text-align: left;
  margin-top: 102px;
  width: 8em;
}

.hero__text {
  @include fonts_gilroy(16px, 26px, 0.06em);
  color: $blue_1;
  margin-top: 40px;
  width: 26.1em;
}

.hero__button {
  @include fonts_gilroy(16px, 26px, 0.04em);
  background-color: $blue_04;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 0 $shadow_color_2;
  color: $white;
  text-align: center;
  height: 56px;
  width: 220px;
  margin-top: 76px;
}

.hero__button:hover {
  @extend .button_hover
}

.hero__button:active {
  @extend .button_active
}

@media screen and (max-width: 1000px) {
  .hero:after {
    display: none;
    background-image: none;
  }
}

@media screen and (max-width: 660px) {
  .hero {
    padding: 0 5%;
  }
}

@media screen and (max-width: 580px) {
  .hero__header {
    font-size: 11vw;
  }

  .hero__text {
    font-size: 3.3vw;
  }
}