@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien Regular.woff2") format("woff");
}

@font-face {
  font-family: Gilroy-Regular;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff");
}