@font-face {
  font-family: Galien;
  font-display: swap;
  src: url("../fonts/Galien Regular.ttf") format("truetype");
}

@font-face {
  font-family: Gilroy-Regular;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
}