.card_block {
  display: flex;
  justify-content: space-between;
  padding: 192px 213px 212px;
}

.card_block__first_item {
  display: flex;
  flex-direction: column;
  gap: 152px;
}

.card-second {
  margin-left: 80px;
}

.card_block__second_item {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.card_block__header {
  @include fonts_gilroy(36px, 46px, 0.05em);
  color: $blue_02;
  width: 10.1em;
}

@media screen and (max-width: 1265px) {
  .card_block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 5%;
  }
  .card-second {
    margin: 0 0 50px;
  }
  .card_block__first_item, .card_block__second_item {
    gap: 50px;
  }
}

@media screen and (max-width: 460px) {
  .card_block__header {
    font-size: 8.57vw;
  }
}