.client_list_block {
  background-color: $blue_04;
  border-radius: 200px 0 0 0;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 96px 213px 125px;
}

.client_list_block__header_section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  width: 100%;
}

.client_list_block__header {
  @include fonts_gilroy(36px, 46px, 0.05em);
  width: 9em;
}

.client_list_block__text {
  @include fonts_gilroy(16px, 26px, 0.05em);
  width: 33em;
}

.client_list_block__logo_section {
  display: flex;
  flex-wrap: wrap;
}

.client_list_block__logo {
  @include fonts_gilroy(20px, 46px, 0.02em);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 128px;
  width: 235px;
}

.client_list_block__logo-more {
  background-color: $blue_1;
  border-bottom: none;
}

.client_list_block__logo-1, .client_list_block__logo-2, .client_list_block__logo-3, .client_list_block__logo-4 {
  border-bottom: 1px solid $white;
}

.client_list_block__logo-2, .client_list_block__logo-6, {
  border-left: 1px solid $white;
  border-right: 1px solid $white;
}

.client_list_block__logo-3, .client_list_block__logo-7 {
  border-right: 1px solid $white;
}