@import "fonts";
@import "global";

div {
  display: flex;
  justify-content: center;
  font-family: Galien, serif;
  color: $blue_1;
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../images/illustration.svg");
}