head
    meta(charset='UTF-8')
    title Home Page
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name='description', content='Some description')
    title Home page