-
    const menuData = [
        {
            header: "About US",
            className: "about_us",
            link1: "About",
            link2: "What We Do",
            link3: "Project",
            link4: "How It Work With Us",
        },
        {
            header: "Follow US",
            className: "follow_us",
            link1: "Instagram",
            link2: "What We Do",
            link3: "Facebook",
            link4: "Youtube",
        },
    ]

.fourth_section

    .lets_talk_block
        .lets_talk_block__content
            h2.lets_talk_block__content__header Interested to work with our team?
            p.lets_talk_block__content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        button.lets_talk_block__button Let’s Talk

    include footer