.fourth_section

    .lets_talk_block
        .lets_talk_block__content
            h2.lets_talk_block__content__header Interested to work with our team?
            p.lets_talk_block__content__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        button.lets_talk_block__button Let’s Talk

    .footer
        .footer_text

            .address_block
                .address_block__header
                    img.address_block__logo(src=require("../images/logo-light.svg") alt="logo")
                    h2.address_block__company_name Afrianska
                address.address_block__address Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                a.address_block__telephone(href="tel: +62-812-7313-4321") +62-812-7313-4321
                a.address_block__email(href="mailto: hello.afrian@gmail.com") hello.afrian@gmail.com

            .about_us
                h3.about_us__header About US
                ul.about_us__list
                    li.about_us__list_item
                        a.about_us__list_link(href="#") About
                    li.about_us__list_item
                        a.about_us__list_link(href="#") What We Do
                    li.about_us__list_item
                        a.about_us__list_link(href="#") Project
                    li.about_us__list_item
                        a.about_us__list_link(href="#") How It Work With Us

            .follow_us
                h3.follow_us__header Follow US
                ul.follow_us__list
                    li.follow_us__list_item
                        a.follow_us__list_link(href="#") Instagram
                    li.follow_us__list_item
                        a.follow_us__list_link(href="#") Facebook
                    li.follow_us__list_item
                        a.follow_us__list_link(href="#") LinkedIn
                    li.follow_us__list_item
                        a.follow_us__list_link(href="#") Youtube

        p.footer__copyright 2019 © Afrianska. All rights reserved.