.header
    img.header_logo(src=require("../images/logo.svg") alt="logo" height=50 width=48)
    button.header_hamburger_button
        img.header_hamburger_image(src=require("../images/hamburger.svg") alt="hamburger menu button" height=34 width=34)