-
    const cardData = [
        {
            imageName: "first",
            header: "Bring Technology To Your Comfortable Home",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
            buttonText: "Learn more",
            height: 235,
            width: 256
        },
        {
            imageName: "second",
            header: "Make Your business To Be Better Famous In Internet",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
            buttonText: "Learn more",
            height: 132,
            width: 192
        },
        {
            imageName: "third",
            header: "Build Your Digital Product That Suitable For Your Need",
            text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ",
            buttonText: "Learn more",
            height: 131,
            width: 170
        }
    ]

.card_block
    .card_block__first_item
        h2.card_block__header What we do to help our client grow in digital era,
        +card(cardData[1])

    .card_block__second_item
        +card(cardData[0])
        +card(cardData[2])