- let i = 1;
- let l = 5;

.client_list_block
    .client_list_block__header_section
        h2.client_list_block__header Our Beloved Client
        p.client_list_block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .client_list_block__logo_section
        while i < 8
            .client_list_block__logo(class=`client_list_block__logo-${i}`)= `LOGO CLIENT ${i++}`
        .client_list_block__logo(class= "client_list_block__logo-more") MORE CLIENT
    footer
        include fourth_section