include pug/libs/_libs

doctype html
html(lang="en")
    include pug/_head
    body
        .wrapper
            header
                include pug/header
            section
                include pug/first_section
            section
                include pug/second_section
            section
                include pug/third_section_with_fourth_section

        include pug/_modal